body{
    background-color: yellow;
}
header {
    background-color: darkgreen;

}
header ul {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
}
ul li a, .white {
    color: #fff !important;
}
#load{
    height: 2em;
    visibility: hidden;
}
#show{
    height: 2em;
    
}
.itemName, .itemSinglePrice, .itemQuantity, .itemPrice {
    border: none;
}