body{
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    background-color: rgba(198, 221, 230, 0.664) !important;
    display:none;
}
body p{
    color: #fff;
}
body .container-fluid a:hover{
    text-decoration-line: none;
    
}
.headerPix{
    background-color: red;
    background-image: url('./img/crm.jpeg');
    background-size: cover;
    height: -webkit-fill-available;
    opacity: 1;
    max-height: 400px;
    
}
.border-groove{
    border-style: ridge;
    border-width: 10px;
    width:100%;
    height:100%;
    border-radius: 10% !important;
}
.centralize{
    margin: auto;
    opacity: 1;
}
.round{
    border-radius: 100%;
    height: 10em;
    width: 10em;
    text-align: center;
    
}
header, footer {
    background-color: rgb(8, 5, 5);
}

.white {
    color: #fff !important;
}
.nav-link {
    color: white !important;
}
ul a:hover{
    
    animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
} 
@keyframes change {
    from {
        
    }
    to {
        background-color: lightgray;
        
    }
}
#load{
    height: 2em;
    visibility: hidden;
}
#show{
    height: 2em;
}
.itemName, .itemSinglePrice, .itemQuantity, .itemPrice {
    border: none;
}
.productForms {
    padding:3%;
}
.productForms input[type=button]{
    margin:0.3em!important;
    padding: 1%
}
.productForms small{
    margin:auto!important;
    padding: auto
}
h3.bg-light.text-center {
    color: black;
}
/*8*********************/ 